# Applying Standard Scalar for Checking the Accuracy

In [2]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('/home/admin1/Downloads/machine_learning/Flask/Problem1/Social_Network_Ads.csv')

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [8]:
x = data.iloc[:,2:4].values
y = data.iloc[:, -1:].values

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [10]:
classifier = SVC(kernel = 'rbf', gamma = 0.7)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

# Accuracy before applying Standard Scalar

In [11]:
score = accuracy_score(y_test, y_pred)
score

0.725

In [12]:
cr = classification_report(y_test, y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.71      0.99      0.83        79
           1       0.90      0.22      0.35        41

    accuracy                           0.73       120
   macro avg       0.80      0.60      0.59       120
weighted avg       0.77      0.72      0.66       120

In [14]:
standard_x = StandardScaler()
X = standard_x.fit_transform(x)

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [18]:
new_classifier = SVC(kernel = 'rbf', gamma = 0.7)
new_classifier.fit(xtrain, ytrain)
y_prediction = new_classifier.predict(xtest)

# Accuracy After applying Standard Scalar

In [19]:
accuracy = accuracy_score(ytest, y_prediction)
accuracy

0.9083333333333333

In [21]:
CR = classification_report(ytest, y_prediction)
print(CR)

              precision    recall  f1-score   support

           0       0.95      0.91      0.93        79
           1       0.84      0.90      0.87        41

    accuracy                           0.91       120
   macro avg       0.89      0.91      0.90       120
weighted avg       0.91      0.91      0.91       120

In [22]:
cm = confusion_matrix(ytest, y_prediction)
cm

array([[72,  7],
       [ 4, 37]])