In [11]:
import os
import pandas as pd

# Loading the Dataset

In [2]:
path = "/home/admin1/Downloads/machine_learning/week13/aclImdb_v1/aclImdb/"

In [3]:
pos_train_file = [x for x in os.listdir(path + "train/pos/") if x.endswith(".txt")]
neg_train_file = [x for x in os.listdir(path + "train/neg/") if x.endswith(".txt")]
pos_test_file = [x for x in os.listdir(path + "test/pos/") if x.endswith(".txt")]
neg_test_file = [x for x in os.listdir(path + "test/neg/") if x.endswith(".txt")]

In [4]:
pos_train, neg_train, pos_test, neg_test = [ ], [ ], [ ], [ ]

In [5]:
for pfile in pos_train_file:
    with open(path + "train/pos/" +pfile, encoding="latin1") as f:
        pos_train.append(f.read())

In [6]:
for nfile in neg_train_file:
    with open(path + "train/neg/" + nfile, encoding="latin1") as f:
        neg_train.append(f.read())

In [7]:
for pfile in pos_test_file:
    with open(path + "test/pos/" + pfile, encoding="latin1") as f:
        pos_test.append(f.read())

In [8]:
for nfile in neg_test_file:
    with open(path + "test/neg/" + nfile, encoding="latin1") as f:
        neg_test.append(f.read())

In [9]:
len(pos_train), len(neg_train), len(pos_test), len(neg_test)

(12500, 12500, 12500, 12500)

In [12]:
reviews_train = pd.concat([
    pd.DataFrame({"review":pos_train, "label":1, "file": pos_train_file}),
    pd.DataFrame({"review":neg_train, "label":0, "file": neg_train_file})
], ignore_index = True)

In [13]:
reviews_train.head()

                                              review  label          file
0  I was intrigued by the title, so during a smal...      1    8833_9.txt
1  All I can say is, if you don't fall in love wi...      1  10959_10.txt
2  Zero Day leads you to think, even re-think why...      1  11485_10.txt
3  Telemundo should definitely consider making a ...      1    317_10.txt
4  An excellent cast makes this movie work; all o...      1   10831_7.txt

In [14]:
reviews_train.shape

(25000, 3)

In [15]:
reviews_test = pd.concat([
    pd.DataFrame({"review":pos_test, "label":1, "file": pos_test_file}),
    pd.DataFrame({"review":neg_test, "label":0, "file": neg_test_file})
], ignore_index = True)

In [16]:
reviews_test.head()

                                              review  label         file
0  People who thought that THE CHRONICLES OF RIDD...      1   6992_9.txt
1  In 1989, Aardman Animations introduced the two...      1  5350_10.txt
2  The Italian concept of "sprezzatura" was the g...      1   9165_8.txt
3  i was part of the cast of Space Odyssey, playi...      1   8833_9.txt
4  As I peruse through the hundreds of comments t...      1   317_10.txt

In [17]:
reviews_test.shape

(25000, 3)

# Creating  a train.csv file and test.csv file

In [21]:
reviews_train.to_csv('reviews_train.csv',  index = False)

In [24]:
reviews_test.to_csv('reviews_test.csv', index = False)

# Creating unsupervised.csv

In [28]:
unsupervised_file = [x for x in os.listdir(path + "train/unsup/") if x.endswith(".txt")]

In [30]:
len(unsupervised_file)

50000

In [33]:
unsup = [ ]
for file in unsupervised_file:
    with open(path + "train/unsup/" + file, encoding="latin1") as f:
        unsup.append(f.read())

In [34]:
len(unsup)

50000

In [37]:
unsup_reviews = pd.DataFrame({"review":unsup, "file": unsupervised_file})

In [38]:
unsup_reviews.head()

                                              review         file
0  Prior to my viewing of 'The Living Dead Girl',...  27465_0.txt
1  'Confessions of a Teenage Drama Queen' comes a...  35402_0.txt
2  My age: 13<br /><br />John Murdoch, played by ...  14940_0.txt
3  Charles Chaplin made his film debut in Making ...  38925_0.txt
4  The best movie i have ever seen in my entire l...  31648_0.txt

In [39]:
unsup_reviews.shape

(50000, 2)

In [40]:
unsup_reviews.to_csv('unsupervised.csv',  index = False)

In [41]:
data = pd.read_csv('unsupervised.csv')