In [1]:
import os
import pandas as pd

# Loading the Dataset

In [2]:
path = "/home/admin1/Downloads/machine_learning/week13/aclImdb_v1/aclImdb/"

In [3]:
pos_train_file = [x for x in os.listdir(path + "train/pos/") if x.endswith(".txt")]
neg_train_file = [x for x in os.listdir(path + "train/neg/") if x.endswith(".txt")]
pos_test_file = [x for x in os.listdir(path + "test/pos/") if x.endswith(".txt")]
neg_test_file = [x for x in os.listdir(path + "test/neg/") if x.endswith(".txt")]

In [4]:
pos_train, neg_train, pos_test, neg_test = [ ], [ ], [ ], [ ]

In [5]:
for pfile in pos_train_file:
    with open(path + "train/pos/" +pfile, encoding="latin1") as f:
        pos_train.append(f.read())

In [6]:
for nfile in neg_train_file:
    with open(path + "train/neg/" + nfile, encoding="latin1") as f:
        neg_train.append(f.read())

In [7]:
for pfile in pos_test_file:
    with open(path + "test/pos/" + pfile, encoding="latin1") as f:
        pos_test.append(f.read())

In [8]:
for nfile in neg_test_file:
    with open(path + "test/neg/" + nfile, encoding="latin1") as f:
        neg_test.append(f.read())

In [9]:
len(pos_train), len(neg_train), len(pos_test), len(neg_test)

(12500, 12500, 12500, 12500)

In [10]:
reviews_train = pd.concat([
    pd.DataFrame({"review":pos_train, "label":1, "file": pos_train_file}),
    pd.DataFrame({"review":neg_train, "label":0, "file": neg_train_file})
], ignore_index = True).sample(frac = 1, random_state = 1)

In [11]:
reviews_train.head()

                                                  review  label         file
21492  The film attempts to be a mockumentary--shot i...      0   6514_2.txt
9488   It does seem like this film is polarizing us. ...      1  7463_10.txt
16933  I'm both amused and disgusted by the people wh...      0   5051_1.txt
12604  I can't stand most reality shows and this one ...      0    388_1.txt
8222   Also known as "Water Lilies" this film tells t...      1   1384_7.txt

In [12]:
reviews_train.shape

(25000, 3)

In [14]:
reviews_test = pd.concat([
    pd.DataFrame({"review":pos_test, "label":1, "file": pos_test_file}),
    pd.DataFrame({"review":neg_test, "label":0, "file": neg_test_file})
], ignore_index = True).sample(frac=1, random_state=0)

In [16]:
reviews_test.head()

                                                  review  label         file
18634  This is possibility the worst and most disappo...      0  10855_1.txt
1333   This film is absolute gold. If you haven't see...      1   325_10.txt
20315  Talk about your wild life. Barely a B-movie, b...      0   4476_4.txt
6357   putting aside the "i'm so sure"s and "totally ...      1  1816_10.txt
10496  I remember really liking BATMAN RETURNS when i...      1  7991_10.txt

In [17]:
reviews_test.shape

(25000, 3)

# Creating  a train.csv file and test.csv file

In [18]:
reviews_train.to_csv('reviews_train.csv',  index = False)

In [19]:
reviews_test.to_csv('reviews_test.csv', index = False)

# Creating unsupervised.csv

In [20]:
unsupervised_file = [x for x in os.listdir(path + "train/unsup/") if x.endswith(".txt")]

In [21]:
len(unsupervised_file)

50000

In [22]:
unsup = [ ]
for file in unsupervised_file:
    with open(path + "train/unsup/" + file, encoding="latin1") as f:
        unsup.append(f.read())

In [23]:
len(unsup)

50000

In [24]:
unsup_reviews = pd.DataFrame({"review":unsup, "file": unsupervised_file})

In [25]:
unsup_reviews.head()

                                              review         file
0  Prior to my viewing of 'The Living Dead Girl',...  27465_0.txt
1  'Confessions of a Teenage Drama Queen' comes a...  35402_0.txt
2  My age: 13<br /><br />John Murdoch, played by ...  14940_0.txt
3  Charles Chaplin made his film debut in Making ...  38925_0.txt
4  The best movie i have ever seen in my entire l...  31648_0.txt

In [26]:
unsup_reviews.shape

(50000, 2)

In [27]:
unsup_reviews.to_csv('unsupervised.csv',  index = False)