# Build a machine learning model to predict salary  based on position for a given dataset

In [27]:
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import numpy as np
import pickle
import warnings
warnings.filterwarnings('ignore')

In [28]:
data = pd.read_csv('/home/admin1/machine_learning/week9/Position_Salaries.csv')

In [29]:
data

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [30]:
data.drop(['Position'], 
          axis = 1, 
          inplace = True)

In [31]:
data

   Level   Salary
0      1    45000
1      2    50000
2      3    60000
3      4    80000
4      5   110000
5      6   150000
6      7   200000
7      8   300000
8      9   500000
9     10  1000000

In [32]:
x = data.iloc[:, 0:-1].values
y = data.iloc[:, -1:].values

In [33]:
reg = RandomForestRegressor(n_estimators = 300, 
                            random_state = 0, 
                            criterion = 'mse',
                            bootstrap = True)

reg.fit(x,y)
pickle_out = open("Random_forest.pickle","wb")
pickle.dump(reg, pickle_out)
pickle_out.close()

In [34]:
pickle_in = open("Random_forest.pickle","rb")
model = pickle.load(pickle_in)
y_pred = model.predict(x)

In [35]:
mse = metrics.mean_squared_error(y, y_pred)
print('MSE-',mse)
rmse = np.sqrt(mse)
print('RMSE-',rmse)

MSE- 3800691750.0000014
RMSE- 61649.75060776809

In [36]:
y_pred

array([ 48850.        ,  50916.66666667,  59550.        ,  76866.66666667,
       106933.33333333, 141966.66666667, 190700.        , 292500.        ,
       480333.33333333, 806666.66666667])

In [37]:
y

array([[  45000],
       [  50000],
       [  60000],
       [  80000],
       [ 110000],
       [ 150000],
       [ 200000],
       [ 300000],
       [ 500000],
       [1000000]])