# The data contains lists of octamers (8 amino acids) and a flag (-1 or 1) depending on whether HIV-1 protease will cleave in the central position (between amino acids 4 and 5). Build a machine learning  model for the dataset, please refer document inside zip file for additional information

In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('/home/admin1/machine_learning/Flask/Problem2/newHIV-1_data/schillingData.txt')

In [3]:
data.head()

   AAAAAPAK  -1
0  AAAAPAKV  -1
1  AAAELGAR  -1
2  AAAPAKVE  -1
3  AAAPVAAA  -1
4  AAAPVVPQ  -1

In [4]:
X = data['AAAAAPAK']
Y = data['-1']

def split(word):
    return [char for char in word]


sequences = pd.DataFrame([split(i) for i in X])
new_data = pd.concat([sequences, Y], axis = 1)
new_data.head()

   0  1  2  3  4  5  6  7  -1
0  A  A  A  A  P  A  K  V  -1
1  A  A  A  E  L  G  A  R  -1
2  A  A  A  P  A  K  V  E  -1
3  A  A  A  P  V  A  A  A  -1
4  A  A  A  P  V  V  P  Q  -1

In [5]:
x = new_data.iloc[:,0:-1]
y = new_data.iloc[:,-1:].values

In [6]:
lb = LabelEncoder()
x = x.apply(lb.fit_transform)

ohe = OneHotEncoder()
x = ohe.fit_transform(x).toarray()

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [20]:
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [21]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[695,  12],
       [ 76,  35]])

In [22]:
score = accuracy_score(y_test, y_pred)
score

0.8924205378973105