In [1]:
"""The data given in the url  is related with direct marketing campaigns of a banking institution. 
The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, 
in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. Build a model to 
predict whether client will subscribe to term deposit"""
import pandas as pd
import numpy as np
import operator

In [2]:
data = pd.read_csv('bank.csv',delimiter=';')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
data=pd.get_dummies(data=data,drop_first=True)

In [4]:
#Splitting the dataset in to train and test dataset
Training_data = int(0.70*len(data))

train_data = data.iloc[0:Training_data,:]
test_data = data.iloc[Training_data:,:]

In [5]:
len(test_data),len(train_data)

(1357, 3164)

In [6]:
def euclidean(data1,data2):
    dist = 0.0
    for i in range(len(data1)-1):
        dist += np.square(data1[i]-data2[i])
    return np.sqrt(dist)

In [7]:
def prediction(train_data,test_data,k):
    distance = []
    knn = [ ]
    predict = [ ]
    count1 = 0
    count2 = 0
    for i in test_data:
        for j in train_data:
            dist = euclidean(i, j)
            distance.append((j[-1], dist))
        distance.sort(key = operator.itemgetter(1))
        #print(len(distance))
        knn = distance[:k] #Extracting top k neighbour
        #print(knn,len(knn))
        for q in range(len(knn)):
            if knn[q][0]==1:
                count1 += 1
            else:
                count2 += 1
        if(count1>count2):
             predict.append('yes')
        else:
             predict.append('no')
        distance.clear()
        knn.clear()
    return predict
a = {1:'yes', 2: 'no', 3:'hello'}    
len(a)

3

In [8]:
prediction(train_data.values,test_data.iloc[3:6,:].values,3)

['no', 'no', 'no']

In [9]:
test_data.iloc[3:6,-1]

3167    0
3168    0
3169    0
Name: y_yes, dtype: uint8

In [10]:
a = 1
if a:
    print("done")
else:
    print("error")

done